@font-face {
    font-family:'PT Sans';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/ptsans-400.woff2) format("woff2");;
    font-display: swap;
}

@font-face {
    font-family:'PT Sans';
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/ptsans-700.woff2) format("woff2");;
    font-display: swap;
}

html{
  height: 100%;
}

body{
    margin:0;
    display:flex;
    flex-direction: column;
    min-height: 100%;
    font-family:'PT Sans'; sans-serif;
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    background-color:  #E5E5E5;
    color:#000000;
}

.container{
  background-color:#FFFFFF;
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 20px 0px rgba(117, 97, 87, 0.3);
}

/* кнопки */
.button{
  border-radius: 4px;
  cursor:pointer;
  border: 0;
  display: inline-block;
}


/* навигация */

.navigation{
  display:flex;
  flex-wrap: wrap;
  width: 1200px;
  margin:0 auto;
  }

.main-header-logo{
  position: absolute;
  margin-left: 70px;
  z-index: 1;
}

.main-header-logo:hover {
  box-shadow:inset 0px 0px 0 2px #F2F2F2
}

.navigation-list{
  display: flex;
  flex-wrap: wrap;
  max-width: 520px;
  margin: 0;
  margin-left: 239px;
  padding: 0;
  list-style-type: none
}
.navigation-item{
  position: relative;
}

.navigation-item:hover{
  box-shadow:inset 0px 0px 0 2px #F2F2F2
}

.navigation-user{
  display: flex;
  min-width: 265px;
  margin-left: auto;
}

.navigation-link {
    display: block;
    padding: 20px 17px;
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    text-decoration:none;
    color: inherit;}

.navigation-link-current::before{
  position: absolute;
  right: 20px;
  bottom: 0;
  left: 18px;
  width: 68px;
  height: 2px;
  background-color: #756257;
  content: "";
  z-index: 2;
}
/* кнопка хочу сюда */
.navigation-like{
    display: block;
    min-width: 130px;
    min-height: 20px;
    padding-top: 9px;
    padding-bottom: 8px;
    padding-left: 15px;
    padding-right: 15px;
    text-transform: uppercase;
    text-decoration:none;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color:#FFFFFF;
    background: #756157;
    margin-top: 15px;
    margin-bottom: 14px;
    margin-right: 70px;
    margin-left: 20px;
}
.navigation-like:hover{
  background-color: #615048;
}

.navigation-like:focus{
  background-color: #615048;
}
.navigation-like:disabled{
  background-color:#E5E5E5;
}
.navigation-like:active{
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.navigation-icons{
  display: block;
  min-width: 42px;
  min-height: 66px;
  margin: 0;
  padding: 0;
}

.navigation-user .navigation-item:nth-child(1) .navigation-link{
  background-image: url(../images/search_head.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.navigation-user .navigation-item:nth-child(2) .navigation-link{
  background-image: url(../images/favorite_head.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.navigation-love{
  position: relative;
}
.navigation-hearts{
  position: absolute;
  left:25px;
  top: 15px;
  background-color: #7DB54F;;
  color: #FFFFFF;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 5px;
  padding-right: 5px;
  text-align:center;
  border-radius: 10px;
  font-size: 10px;
  line-height: 13px;
}

.main-index{
  flex-grow:1;
  width: 1200px;
  text-align: center;
  margin: 0 auto;
}


/* фоновая картинка */
.welcome{
position: relative;  
background-image:url(../images/welcome-background.jpg);
background-size: cover;
background-color: #82B3D3;
background-repeat: no-repeat;
margin: 0;
min-width: 485px;
}

.welcome::after{
  content: "";
  position: absolute;
  background-image: url(../images/bottom-welcome.svg);
  background-repeat: no-repeat;
  width:100%;
  height: 57px;
  left:0;
  bottom:0;
  right: 0;
}

/* картинка welcome */
.sedona{
 display: block;
 padding-top: 51px;
 padding-bottom: 82px;
 padding-left: 371.3px;
 margin: 0;
}


/* СЕДОНА-НЕБОЛЬШОЙ ГОРОДОК В АРИЗОНЕ И ТД */
.uppercase-sedona{
  display: block;
  margin: 0;
  margin-top: 63px;
  margin-bottom: 31px;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  font-weight: 700;
}

/* рассмотрим 5 причин */
.reasons{
  margin: 0;
  margin-bottom: 90px;
  font-size: 22px;
  line-height: 26px;
}


/* списки преимуществ и рекомендации */


.advantages-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0;
    margin-bottom: 89px;
    padding: 0;
    list-style-type: none}


    .advantages-item{
     width: 400px;
     min-height: 384px;
    }

.advantages-description{
  display: block;
  margin:0;
  margin-bottom: 30px;
}

.advises-description{
  margin:0;
}

/* картинки в преимуществах*/
.picture-sedona{
  display: block;
  margin:0;
}

/* строчные заголовки преимущества*/
.advantages-title{
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin-top: 92px;
  margin-bottom: 30px;

}

/* строчные заголовки советы*/
.advises-title{
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin-top: 183px;
  margin-bottom: 30px;
}

.last-row-advantage-title{
  margin-top: 102px;
}


/* укажите предполагаемые даты поездки */
.hotel-search-description{
    font-family: inherit;
    font-size: 22px;
    line-height: 26px;
    margin: 0;
    margin-bottom: 56px;
}

/* заинтересовались? индекс */
.hotel-search-title{
    display: block;
    margin: 0;
    margin-bottom: 29px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
}

/* поиск гостиницы в седоне */
.button-hotel-search{
    display: block;
    width: 544px;
    margin: auto;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #756157;
    text-decoration:none;
    padding:12px 15px;
}
.button-hotel-search:hover{
  background-color: #615048;
}

.button-hotel-search:focus{
  background-color: #615048;
}
.button-hotel-search:disabled{
  background-color:#E5E5E5;
}
.button-hotel-search:active{
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.hotel-search{
  margin: 0;
  margin-bottom: 93px;
}

/* индекс самый светлый фон преимуществ */
.light{
  background: rgba(131, 179, 211, 0.12);
 
}

/* индекс средняя насыщенность фона преимуществ */
.middle{
  background: rgba(131, 179, 211, 0.2);
}

/* индекс фон преимуществ темнее */
.darker{
  background: #82B3D3;
  color: #FFFFFF;
  }


/* иконки в преимуществах */
.living
{ background-image: url(../images/home-icon.png);
  background-repeat: no-repeat;
  background-position: center 80px;
}

.eating{
  background-image: url(../images/food-icon.png);
  background-repeat: no-repeat;
  background-position: center 80px;
}

.gifts{
  background-image: url(../images/gifts-icon.png);
  background-repeat: no-repeat;
  background-position: center 80px;
}

/* подпишитесь на рассылку индекс */
.appointment-title{
  display: block;
  margin: 0 auto;
  margin-bottom: 29px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.appointment-description{
font-family: inherit;
font-size: 22px;
line-height: 26px;
font-weight: 400;
margin: 0 auto;
margin-bottom: 46px;

}

/* строка записи индекс с фоном картинкой */
.appointment{
  background-image:url(../images/bottom-index-background.jpg);
  background-size: cover;
  color: #FFFFFF;
  background-repeat: no-repeat;
  background-size: 100% auto;
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #82B3D3;
  margin-bottom: 50px;
}

.appointment-form{
  display: flex;
  flex-wrap: wrap;
  height: 60px;
  justify-content: center;
  
}

.field{
  min-width: 578px;
  padding-left: 22px;
  border: 0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  outline: none;
}

.field-catalog{
  background-color: #F2F2F2;
}
.newsletter-button{
  min-width: 200px;
  height: 60px;
  background-color: #82B3D3;
  color: #FFFFFF;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  font-family:'PT Sans'; sans-serif; ;
}

/* подвал индекс */
.page-footer{
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

/* соцсети */
.footer-social-list{
  display: flex;
  flex-wrap: wrap;
  min-width: 145px;
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  margin-left: 70px;
}

.footer-social-item{
  position: relative;
  left:12px;
  top:5px;
  min-width: 47px;
  min-height: 35px;
}

/* ссылки на соцсети */
.button-social{
    text-decoration: none;
    color: #83B3D3;
}

.footer-icon{
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #83B3D3;
}

.footer-icon:hover{ 
  fill: #68A2CA;
}

.footer-icon:focus{
  fill: #68A2CA;
}

.footer-icon:active{
  fill: rgba(104, 162, 202, 0.3);
}


/* телефон */
.phone{
  display: block;
  width: 331px;
  margin: 0 auto;
  
}
.footer-phone{
display: block;
position: relative;
top:-5px;
font-size: 40px;
line-height: 40px;
text-transform: uppercase;
text-decoration:none;
color: inherit;
}

.footer-phone:hover{
  color: #756157;
}

.footer-phone:focus{
  color: #756157;;
}

.footer-phone:disabled{
  background-color:#E5E5E5;
}
.footer-phone:active{
  color: rgba(117, 97, 87, 0.3);
}

/* ссылка индекс футер на hnml academy  */
.htmlacademy-link{
  display: block;
  max-width: 115px;
  margin-right: 70px;
}

.html-logo{
  fill:#000000;
}

.html-logo:hover{
  fill: #756157;
}

.html-logo:focus{
  fill: #756157;;
}

.html-logo:disabled{
  fill:#E5E5E5;
}
.html-logo:active{
  fill: rgba(117, 97, 87, 0.3);
}

.creators{
  margin: 0;
  margin-bottom: 38px;
}

/* часть из навигации каталог */
.navigation-link-current{
    display: block;
    padding: 20px 17px;
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    text-decoration:none;
    color: inherit;
}

/* кнопка хочу сюда каталог */
.navigation-like-inner{
  display: block;
  min-width: 130px;
  min-height: 20px;
  padding-top: 9px;
  padding-bottom: 8px;
  padding-left: 15px;
  padding-right: 15px;
  text-transform: uppercase;
  text-decoration:none;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color:#FFFFFF;
  background: #756157;
  margin-top: 15px;
  margin-bottom: 14px;
  margin-right: 70px;
}


.main-inner{
  flex-grow:1;
  width: 1200px;
  text-align: center;
  margin: 0 auto;
  }

.inner-header-title{
  display: block;
  margin: 0;
  margin-left: 70px;
}

/* сортировка каталог */
.sorting{
  display: flex;
  flex-wrap: wrap;
  max-width: 1057px;
  margin: auto;
  margin-bottom: 56px;
}

/* найдено гостиниц */
.search-results{
  display:block;
  margin: 0;
  font-weight:700;
  font-size:30px;
  line-height:36px;
  text-transform: uppercase;
  margin-right: 191px;
}

/* окно сортинга */
.poor-middle-reach{
  margin-left: ;
}

.poor-norm-reach{
  min-width: 290px;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  border: solid 3px  #E5E5E5;
  border-radius: 4px;
  background-image: url("../images/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
  appearance: none;
}

.poor-norm-reach:hover{
  border: solid 3px #83B3D3;}

.poor-norm-reach:focus{
  border: solid 3px #83B3D3;
}

.poor-norm-reach:disabled{
 border: solid 3px #E5E5E5;
}
.poor-norm-reach:active{
border:solid 3px #3F5E72;
}


/* иконки сортинг каталог */
.button-show{
  position: relative;
  width: 48px;
  height: 48px;
  color: #000000;
  text-decoration:none;
  border: 2px solid 
  #E5E5E5;
  border-radius: 4px;
}

/* хлебные крошки */
.breadcrumbs{
  display: flex;
  margin: 0;
  margin-bottom: 40px;
  
  padding: 0;
  list-style-type: none;
  font-family: inherit;
  font-style: Regular;
  font-size: 16px;
  line-height: 21px;
}

.bread-hotels{
  background-image: url(../images/bread-arrow.svg);
  background-repeat: no-repeat;
  background-position: 0 6px;
  padding-left: 15px;
  cursor:pointer;
}

.bread-hotels:hover{
  color:rgba(255, 255, 255, 0.6);
}
.bread-hotels:focus{
  color:#FFFFFF;
}

.bread-hotels:active{
  color:#FFFFFF;
}

.bread-home-icon{
  fill: #FFFFFF;
}

.bread-home-icon:hover{
  fill:rgba(255, 255, 255, 0.6);
}
.bread-home-icon:focus{
  fill:#FFFFFF;
}
.bread-home-icon:active{
  fill:rgba(255, 255, 255, 0.3);
}


.button-current{
  position: relative;
  width: 48px;
  height: 48px;
  color: #000000;
  text-decoration:none;
  border: 2px solid 
  #000000;;
  border-radius: 4px;
}

.button-show:hover{
  border: 2px solid 
#000000;
}

.button-show:focus{
  border: 2px solid 
  #68A2CA;
}

.button-show:active{
  border: 2px solid 
#000000;
}

.show-icon{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;  
}



.icons-sort-inner{
  min-width: 160px;
  margin-left: auto;
}


/* названия отелей */
.hotel-card-link{
    text-decoration: none;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}

/* фильтры для выбора каталог */
.inner-header{
    background-color: #82B3D3;
    background-image: url(../images/catalog-filter.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: #FFFFFF;
    text-align: left;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 35px;
    margin-bottom: 50px;
}

/* заголовки фильтра */
.catalog-filter-title{
    display: block;
    margin: 0;
    margin-bottom: 30px;
    font-family: inherit;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
   
}

.catalog-products{

}

.catalog-filter{
  display: flex;
  flex-wrap: wrap;  
  justify-content: space-between;
  margin: 0;
  padding-bottom: 70px;
}
.catalog-filter-group{
  margin: 0;
  padding: 0;
  border: 0;
}
.price-from-to{
  display: block;
  font-family: inherit;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 34px;
}
.range{
min-width:288px;
margin:0;
margin-left: 200px;
}

.range-wrapper-inputs{
  position: relative;
  margin: 0;
  margin:0;
}

.range-scale{
position: relative;
width: 290px;
height: 4px;
background-color: #E5E5E5;
margin:0;
margin-top: 55px;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #FFFFFF;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
}

.range-toggle:hover{
  background: #ffffff;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
}
.range-toggle:focus{
  outline: 3px solid #83B3D3;
}

.range-toggle:active{
  outline: 2px solid #83B3D3;
} 

.toggle-min {
  top: -9px;
  left: -9px;
}

.toggle-max {
  top: -9px;
  right: -9px;
}

.range-input{
  width: 120px;
  border: solid 2px #FFFFFF;
  background: none;
  height: 46px;
  color:#FFFFFF;
  font-family: inherit;
  font-style: Regular; 
  
}

.range-input:hover{
  opacity:60%;}

.range-input:focus{
  outline: 2px solid #83B3D3;
  box-shadow: inset 1px 0px 0 2px #83B3D3;
    }

.range-input:active{
 background-color: #756257;
outline: none;
}

.range-left{
  position: absolute;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  padding-left: 20px;
}

.range-right{
  position: absolute;
  left:146px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  padding-left: 20px;
}

.catalog-filter-label{
position: relative;
font:inherit;
color: #FFFFFF;
opacity: 30%;

}

.label-to{
  position: relative;
  left:100px;
  top:15px;
  left:235px;
}

.label-from{
  position: relative;
  left:110px;
  top:15px;
}
.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.two-buttons{
  align-self: flex-end;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  
  margin: 0;
  margin-left: 70px;
}

/* гостиницы седоны каталог */
.inner-header-title {
    display: block;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
    text-align: left;
}



.catalog-filter-list{
  list-style-type: none;
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  padding: 0;
  margin: 0;
}

.catalog-filter-item:not(:last-child){
  margin-bottom: 15px;
}

/* стилизация для чекбокса */
.control{
  position: relative;
  display: block;
  padding-left: 38px;
}
.control-mark {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  border-radius: 4px;
}

.control:hover .control-mark{
  background-color: rgba(255, 255, 255, 0.6);
}

.control-input:focus +.control-mark{
  box-shadow:inset 0px 0px 0 2px #83B3D3;
}

.control:active .control-mark{
  background-color:rgba(255, 255, 255, 0.3); 
}

.control-input[type="checkbox"]:checked+.control-mark::before {
  position: absolute;
  top: 5px;
  left: 4px;
  width: 12px;
  height: 10px;
  background-image: url("../images/check.svg");
  content: "";
}

/* radio */
.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: #3F5E72;
  border-radius: 50%;
  content: "";
}


/* хлебные крошки каталог ссылка на главную */
.breadcrumbs-link{
    margin-right: 10px;
    text-decoration:none;
    color: #FFFFFF;
}

/* каталог кнопки для фильтра применить сбросить */
.button-catalog-one{
    font-family: inherit;
    min-width: 160px;
    min-height: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #82B3D3;
    margin-bottom: 17px;
}
.button-catalog-two{
  display: block;
  margin: 0;
   background: none;
   font-family: inherit;
   font-weight: 400;
   font-style: Regular;
   font-size: 16px;
   line-height: 20px;
   color: #FFFFFF;
   justify-content: flex-end;
}

.button-catalog-two:hover{
  color: #FFFFFF;
  opacity:60%;}

.button-catalog-two:focus{
  box-shadow: inset 1px 0px 0 2px #83B3D3;
  
 }

 .button-catalog-two:active{
  opacity:30%;
 }

.hotel-list{
  display: flex;
  flex-wrap: wrap;
  max-width: 1057px;
  margin: 0 auto;
  margin-bottom: 96px;
  padding: 0;
  list-style-type: none
  
}

.hotel-card-image{
  display: block;
  margin: 0;
  margin-bottom: 16px;
}
.hotel-card-title{
  display: block;
  max-width: 300px;
  margin: 0;
  margin-bottom: 16px;
  text-align: left;
}

.about-hotel{
  display: grid;
  grid-template-columns: 140px 140px;
  grid-template-rows: min-content min-content min-content;
  align-items:start;
  gap:16px;
}
.hotel-card-kind{
  margin: 0;
  text-align: left;
}

.hotel-card-price{
  margin: 0;
  text-align: left;
}

.hotel-card{
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-right: 18px;
}

.hotel-card:nth-child(3){
  margin-right: 0;
}


/* каталог кнопки подробнее */
.hotel-card-button{
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #756157;
    text-decoration:none;
    padding-top: 9px;
    padding-bottom: 8px;
    padding-left: 5px;
    padding-right: 5px;   
}

.button-brown:hover{
  background-color: #615048;
}

.button-brown:focus{
  background-color: #615048;
}
.button-brown:disabled{
  background-color:#E5E5E5;
}
.button-brown:active{
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

/* каталог кнопки в избранное */
.button-blue{
    background-color:#82B3D3;
}

.button-blue:hover{
  background-color: #68A2CA;
}

.button-blue:focus{
  background-color: #68A2CA;
}
.button-blue:disabled{
  background-color:#E5E5E5;
}
.button-blue:active{
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}


/* каталог в избранном */
.button-liked{
    background:#7DB54F;
}
.button-liked:hover{
  background-color: #6C9E42;
}

.button-liked:focus{
  background-color: #6C9E42;
}
.button-liked:disabled{
  background-color:#E5E5E5;
}
.button-liked:active{
  background-color: #7DB54F;
  color: rgba(255, 255, 255, 0.3);
}

/* рейтинг */
.hotel-rating{
    grid-column: 2/3;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    background: #F2F2F2;
    padding-top: 9px;
    padding-bottom: 8px;
    border-radius: 4px;
    }

/* звёзды */
.stars-four{
  grid-column: 1/2;
  background-image: url(../images/star.svg);
  height: 20px;
  background-repeat:space;  
  margin-top: 10px;
  width: 87px;
}

.stars-three{
  grid-column: 1/2;
background-image: url(../images/star.svg);
height: 20px;
background-repeat:space;  
margin-top: 10px;
width: 66px;
}

.stars-two{
  grid-column: 1/2;
  background-image: url(../images/star.svg);
  height: 20px;
  background-repeat:space;  
  margin-top: 10px;
  width: 43px;
  }

/* пагинация */
.pagination-and-pages{
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1056px;
  margin: auto;
}

.pagination-and-pages::after{
  content: " ";
  position: absolute;
  top:-30px;
  background-color:#E6E6E6;
  width: 1055px;
  height:1px;
}

.pagination{
  display: flex;
  flex-wrap: wrap;
  max-width: 820px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-item{
 margin-bottom: 8px;

}

.pagination-link{
  display: block;
  margin: 0;
  box-sizing: border-box;
  min-width: 60px;
  height: 60px;
  padding-left: 9px;
  padding-right: 9px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #FFFFFF;
  background: #82B3D3;
  text-decoration:none;
  text-align: center;
  padding-top: 12px;
  border-radius: 4px;
  }

  .pagination-link:hover{
    background-color: #68A2CA;
  }
  
  .pagination-link:focus{
    background-color: #68A2CA;
  }
  
  .pagination-link:active{
    background-color: #82B3D3;
    color:rgba(255, 255, 255, 0.3);
  }
  

.pagination-current{
  color: #000000;
  background: #F2F2F2;
}

.pagination-current:hover{
  color: #000000;
  background: #F2F2F2;
}

.pagination-current:focus{
  color: #000000;
  background: #F2F2F2;
}

.pagination-current:disabled{
  color: #000000;
  background: #F2F2F2;
}
.pagination-current:active{
  color: #000000;
  background: #F2F2F2;
}

.pages{
  min-width: 160px;
  height: 50px;
  font: inherit;
  padding: 10px 20px;
  border:solid 3px #E5E5E5;
  border-radius: 4px;
  margin-left: 51px;
  background-image: url("../images/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 16px center;
  appearance: none;
}

.how-many-hotels-on-page{
  font: inherit;
  margin: 0;
  align-self: center;
}

/* подпишитесь на рассылку каталог */
.appointment-title-black{
    display: block;
    margin: 0 auto;
    margin-bottom: 29px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
}

.appointment-description-black{
  max-width: 475px;
  margin: 0 auto;
  margin-bottom: 46px;

}

/* строка записи каталог белый фон */
.appointment-catalog {
  width: 1200px;
  color: #333333;
  padding-top: 94px;
  padding-bottom: 94px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* модальное окно */
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8)
  
}

.modal {
  position: relative;
  margin: auto;
  width: 715px;
  
  background-color: #FFFFFF;
  border-radius: 30px;
  background-color: #FFFFFF;
}

.modal-title{
  font-family: inherit;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-top: 62px;
  margin-left: 68px;
  margin-bottom: 63px;
}

.modal-close-button {
  position: absolute;
  margin: auto;
  padding: 0;
  top: 54px;
  right: 80px;
  width: 53px;
  height: 53px;
  background-color:#F2F2F2;
  border: none;
  border-radius: 50%;
  background-image: url("../images/close-modal.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
} 
.modal-close-button:hover{
  background-color: #E6E6E6;
}
.modal-close-button:focus{
  box-shadow:inset 0px 0px 0 3px #83B3D3;
}
.modal-close-button:active{
  fill:#E6E6E6;
}

.modal-start-button{
  border-radius: 10px;
  width: 575px;
  min-height: 60px;
  background-color: #83B3D3;
  border: 0;
  cursor: pointer;
  margin: 0;
  margin-left: 70px;
  margin-bottom: 70px;
  color: 
  #FFFFFF;
  font-family: inherit;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.modal-start-button:hover{
  background-color: #68A2CA;
}
.modal-start-button:focus{
  box-shadow:inset 0px 0px 0 3px #756257;
}
.modal-start-button:active{
  color:#83B3D3;
}

.modal-lable{
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}



.modal-input{ 
  background-color:#F2F2F2 ;
  min-height: 50px;
  color: #000000;
  border: 0;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  outline: none;
}

.modal-input:hover{
background-color: #E6E6E6;
}
.modal-input:focus{
  box-shadow:inset 0px 0px 0 3px #83B3D3;
  }
.modal-input:active{
  box-shadow:inset 0px 0px 0 3px #000000;
  }

.modal-field{
  background-image: url(../images/calendar.png);
  background-position: 395px 18px;
  background-repeat: no-repeat;
  color: #000000;
  width: 360px;
  padding-left: 19px;
  padding-right: 40px;
}

.who{
  width: 133px;
  text-align: center;
}
.modal-form{
  display: flex;
  width: 577px;
  justify-content: space-between;
  margin: auto;
  flex-direction: column;
  margin-bottom: 40px;

}
.aduits-kids{
  display: grid;
  grid-template-columns: 288px 230px;
  gap: 56px;
  grid-template-rows: 50px;
  
}
.adults,
.kids {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
}

.tooltip-toggle{
position: absolute;
top:12px;
left:52px;
width: 25px;
height: 25px;
border-radius: 50%;
border: 0;
background-color: 
#83B3D3;
}

.tooltip {
  position: absolute;
  
}

.tooltip-text:after{
  content: " ";
  background-image:url(../images/triangle.svg);
  width: 19px;
  height: 9px;
  position:absolute;
  top: -8px;
  left:-6px;
  right:0;
  margin-left: auto;
  margin-right: auto;

}

.tooltip-text {
  position: absolute;
  left:-60px;
  top:57px;
  background-color: #333333;
  color: #ffffff;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  text-transform: none;
  padding: 15px 18px;
  border-radius: 10px;
  display: block;
  width: 216px;
  z-index: 1;
  display: none;
}


.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.when{
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.when-come
{position: relative;}

.when-come::after{
  position: absolute;
  content:"Мы не можем отправить вас в прошлое.";
  color:#FF5757;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  top:60px;
  left:155px; 
}

.when-leave{
  position: relative;}

.when-leave::after{
  position: absolute;
  content:"На эти даты есть свободные номера. Пока есть.";
  color:#333333;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  top:60px;
  left:155px; 
}
.modal-lable
{display:block;
padding-top: 10px;}

.modal-button{
  background-color:inherit;
  width: 25px;
  height: 25px;
  border: 0;
}


.modal-button:focus{
  box-shadow:inset 0px 0px 0 3px #83B3D3;
    }
.modal-button:active{
    opacity: 20%;
    }

.first-left{
  position: absolute;
  top:12px;
  left:155px;
}

.first-right{
  position: absolute;
  top:12px;
  left:260px;
}

.second-left{
  position: absolute;
  top:12px;
  left:95px;
}

.second-right{
  position: absolute;
  top:12px;
  left:203px;
}

.plus{
  fill:#000000;
  opacity: 30%;
  position: absolute;
  top:7px;
  left: 6px;
}
.plus:hover{
  fill:#000000;
  opacity: 100%;
  }
.minus{
  fill:#000000;
  opacity: 30%;
  position: absolute;
  top:13px;
  left: 5px;
}
.minus:hover{
  fill:#000000;
  opacity: 100%;
  }

  .modal-container-close {
    display: none;
  }

  .open{
    display: block;
  }