@font-face {
    font-family:'PT Sans';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/ptsans-400.woff2) format("woff2");;
    font-display: swap;
}

@font-face {
    font-family:'PT Sans';
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/ptsans-700.woff2) format("woff2");;
    font-display: swap;
}

html{
  height: 100%;
}

body{
    margin:0;
    display:flex;
    flex-direction: column;
    min-height: 100%;
    font-family:'PT Sans'; sans-serif;
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    background-color: #FFFFFF;
    color:#000000;

}

/* навигация */

.navigation{
  display:flex;
  flex-wrap: wrap;
  width: 1200px;
  margin:0 auto;
  }

.main-header-logo{
  position: absolute;
  margin-left: 70px;
}

.navigation-list{
  display: flex;
  flex-wrap: wrap;
  max-width: 520px;
  margin: 0;
  margin-left: 239px;
  padding: 0;
  list-style-type: none
}

.navigation-user{
  display: flex;
  min-width: 265px;
  margin-left: auto;
}

.navigation-link {
    display: block;
    padding: 20px 17px;
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    text-decoration:none;
    color: inherit;
}
/* кнопка хочу сюда */
.navigation-like{
    display: block;
    min-width: 130px;
    min-height: 20px;
    padding-top: 9px;
    padding-bottom: 8px;
    padding-left: 15px;
    padding-right: 15px;
    text-transform: uppercase;
    text-decoration:none;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color:#FFFFFF;
    background: #756157;
    margin-top: 15px;
    margin-bottom: 14px;
    margin-right: 70px;
}

.navigation-icons{
  display: block;
  min-width: 42px;
  min-height: 66px;
  margin: 0;
  padding: 0;
}

.main-index{
  flex-grow:1;
  width: 1200px;
  text-align: center;
  margin: 0 auto;
}


/* фоновая картинка */
.welcome{
background-image:url(../images/welcome-background.jpg);
background-color: #82B3D3;
background-repeat: no-repeat;
}

/* картинка welcome */
.sedona{
 display: block;
 padding-top: 51.4px;
 padding-bottom: 82px;
 padding-left: 371.3px;
 margin: 0;
}

.welcome{
  margin: 0;
}

/* СЕДОНА-НЕБОЛЬШОЙ ГОРОДОК В АРИЗОНЕ И ТД */
.uppercase-sedona{
  display: block;
  margin: 0;
  margin-top: 63px;
  margin-bottom: 31px;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  font-weight: 700;
}

/* рассмотрим 5 причин */
.reasons{
  margin: 0;
  margin-bottom: 90px;
  font-size: 22px;
  line-height: 26px;
}


/* списки преимуществ и рекомендации */


.advantages-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0;
    margin-bottom: 92px;
    padding: 0;
    list-style-type: none}


    .advantages-item{
     width: 400px;
     min-height: 384px;
    }

.advantages-description{
  display: block;
  margin:0;
  margin-bottom: 30px;
}

.advises-description{
  margin:0;
}

/* картинки в преимуществах*/
.picture-sedona{
  display: block;
  margin:0;
}

/* строчные заголовки преимущества*/
.advantages-title{
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin-top: 92px;
  margin-bottom: 30px;

}

/* строчные заголовки советы*/
.advises-title{
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin-top: 183px;
  margin-bottom: 30px;
}



/* укажите предполагаемые даты поездки */
.hotel-search-description{
    font-size: 22px;
    line-height: 26px;
    margin: 0;
    margin-bottom: 56px;
}

/* заинтересовались? индекс */
.hotel-search-title{
    display: block;
    margin: 0;
    margin-bottom: 29px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}

/* поиск гостиницы в седоне */
.button-hotel-search{
    display: block;
    width: 544px;
    margin: auto;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #756157;
    text-decoration:none;
    padding:12px 15px;
}

.hotel-search{
  margin: 0;
  margin-bottom: 93px;
}

/* подпишитесь на рассылку индекс */
.appointment-title{
    display: block;
    margin: 0 auto;
    margin-bottom: 29px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
}

.appointment-description{
  max-width: 475px;
  margin: 0 auto;
  margin-bottom: 46px;
}


/* строка записи индекс с фоном картинкой */
.appointment{
  background-image:url(../images/bottom-index-background.jpg);
  color: #FFFFFF;
  background-repeat: no-repeat;
  background-size: 100% auto;
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #82B3D3;
  margin-bottom: 40px;
}



/* подвал индекс */
.page-footer{
  display: flex;
  width: 1200px;
  margin: 0 auto;
  margin-bottom: 30px;
  justify-content: space-between;
}



/* соцсети */
.footer-social-list{
  display: flex;
  flex-direction: column;
  min-width: 142px;
  margin-left: 70px;
  list-style-type: none;
}

..footer-social-item{
  min-width: 45px;
  min-height: 35px;
}

/* телефон */
.phone{
  width: 331px;
  margin: 0 auto;
}
.footer-phone{
font-size: 40px;
line-height: 40px;
/* identical to box height, or 100% */
text-transform: uppercase;
text-decoration:none;
color: inherit;
}

/* ссылка индекс футер на hnml academy  */
.htmlacademy-link{
  display: block;
  max-width: 115px;
  margin-right: 70px;
}



/* часть из навигации каталог */
.navigation-link-current{
    display: block;
    padding: 20px 17px;
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    text-decoration:none;
    color: inherit;
}

/* кнопка хочу сюда каталог */
.navigation-like-inner{
  display: block;
  min-width: 130px;
  min-height: 20px;
  padding-top: 9px;
  padding-bottom: 8px;
  padding-left: 15px;
  padding-right: 15px;
  text-transform: uppercase;
  text-decoration:none;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color:#FFFFFF;
  background: #756157;
  margin-top: 15px;
  margin-bottom: 14px;
  margin-right: 70px;
}


.main-inner{
  flex-grow:1;
  width: 1200px;
  text-align: center;
  margin: 0 auto;
  }

.inner-header-title{
  display: block;
  margin: 0;
  margin-left: 70px;
}

/* хлебные крошки */
.breadcrumbs{
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* сортировка каталог */
.sorting{
  display: flex;
  flex-grow:1;
  justify-content: space-between;
  margin: 0;
  margin-left: 71px;
  margin-right: 72px;
  margin-bottom: 56px;
  min-height: 49px;
}

.select-control{
  margin-right: auto;
}

.icons-sort-inner{
  min-width: 160px;
  margin-left: auto;
}
.button-show{
  width: 48px;
  height: 48px;
}

/* названия отелей */
.hotel-card-link{
    text-decoration: none;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}

/* фильтры для выбора каталог */
.inner-header{
    background-color: #82B3D3;
    color: #FFFFFF;
    text-align: left;
    padding: 70px;
    padding-top: 35px;
    margin-bottom: 50px;
}

/* заголовки фильтра */
.catalog-filter-title{
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
}


/* гостиницы седоны каталог */
.inner-header-title {
    display: block;
    margin: 0;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
    text-align: left;
}

/* индекс самый светлый фон преимуществ */
.light{
    background: rgba(131, 179, 211, 0.12);
}

/* индекс средняя насыщенность фона преимуществ */
.middle{
    background: rgba(131, 179, 211, 0.2);
}

/* индекс фон преимуществ темнее */
.darker{
    background: #82B3D3;
    color: #FFFFFF;
    }



    /* убираем точки в списках */

.catalog-filter-list{
  list-style-type: none
}


/* ссылки на соцсети */
.button-social{
    text-decoration: none;
    color: #83B3D3;
}

/* хлебные крошки каталог ссылка на главную */
.breadcrumbs-link{
    margin-right: 10px;
    text-decoration:none;
    color: #FFFFFF;
}

/* каталог кнопки для фильтра применить сбросить */
.button-catalog-one{
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #82B3D3;
}
.button-catalog-two{
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}

.hotel-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1057px;
  margin: 0 auto;
  padding: 0;
  list-style-type: none
}

.hotel-card-image{
  display: block;
  margin: 0;
  margin-bottom: 16px;
}
.hotel-card-title{
  display: block;
  margin: 0;
  margin-bottom: 16px;
  text-align: left;
}

.hotel-card-kind{
  margin: 0;
  text-align: left;
}

.hotel-card-price{
  margin: 0;
}


.hotel-card{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;

}

/* каталог три кнопки показать */
.button-show{
    color: #000000;
    text-decoration:none;
}

/* каталог кнопки подробнее */
.hotel-card-button{
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #756157;
    text-decoration:none;
}

/* каталог кнопки в избранное */
.button-like{
    background:#82B3D3;
}

/* каталог в избранном */
.button-liked{
    background:#7DB54F;
}

/* пагинация каталог */
.pagination-link{
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    color: #FFFFFF;
    background: #82B3D3;
    text-decoration:none;
}

.pagination-current{
    color: #000000;
    background: #F2F2F2;
}

/* рейтинг */
.hotel-rating{
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    background: #F2F2F2;
    }

/* пагинация */
.pagination{
  display: flex;
  list-style-type: none
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link{
  display: block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  padding: 12px 24px;
}

.how-many-hotels-on-page{
  margin-left: auto;
}

/* подпишитесь на рассылку каталог */
.appointment-title-black{
    display: block;
    margin: 0 auto;
    margin-bottom: 29px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
}

.appointment-description-black{
  max-width: 475px;
  margin: 0 auto;
  margin-bottom: 46px;

}

/* строка записи каталог белый фон */
.appointment-catalog {
  width: 1200px;
  color: #333333;
  padding-top: 94px;
  padding-bottom: 94px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

